<?xml version="1.0" encoding="Windows-1252"?>
<Query xmlns:xsd="http://www.w3.org/2001/XMLSchema-instance" xsd:noNamespaceSchemaLocation="SORQBS.XSD">
  <Option>
    <IncludeSalesOrderDetails><%= @include_sales_order_details %></IncludeSalesOrderDetails>
    <IncludeContractDetails><%= @include_contact_details %></IncludeContractDetails>
    <IncludeDeliveryHistory><%= @include_delivery_history %></IncludeDeliveryHistory>
    <IncludeUnconfirmedReleases><%= @include_unconfirmed_releases %></IncludeUnconfirmedReleases>
    <IncludeConfirmedReleases><%= @include_confirmed_releases %></IncludeConfirmedReleases>
    <IncludeReleaseDetails><%= @include_release_details %></IncludeReleaseDetails>
    <IncludeReleaseHistory><%= @include_release_history %></IncludeReleaseHistory>
  </Option>
  <% unless @filters.empty? %> 
    <Filter>
      <% for filter in @filters %>
        <<%= filter[:name] %> FilterType="<% filter[:type] %>" FilterValue="<% filter[:value] %>"/>
      <% end %>
    </Filter>
  <% end %>
</Query>

